<template>
  <form class="w-2/5 flex flex-col">
    <Input
      v-model="email"
      label="Email"
      type="email"
      placeholder="Email"
      :error="error.email"
    />
    <Input
      v-model="password"
      label="Password"
      type="password"
      placeholder="Password"
      :error="error.password"
    />
    <Input
      v-if="isSignup"
      v-model="username"
      label="Username"
      placeholder="Username"
      :error="error.username"
    />

    <div class="flex justify-evenly">
      <button
        class="
          shadow
          bg-purple-500
          hover:bg-purple-400
          focus:shadow-outline focus:outline-none
          text-white
          font-bold
          py-2
          px-4
          rounded
        "
        type="button"
        @click="clearInputs"
      >
        Clear
      </button>
      <button
        class="
          shadow
          bg-purple-500
          hover:bg-purple-400
          focus:shadow-outline focus:outline-none
          text-white
          font-bold
          py-2
          px-4
          rounded
        "
        type="button"
        @click="_onSubmit"
      >
        {{ submitButtonText }}
      </button>
    </div>
  </form>
</template>

<script>
export default {
  name: 'Auth',
  props: {
    type: {
      type: String,
      default: 'signup',
    },
    onSubmit: {
      type: Function,
      default: () => {},
    },
  },
  data() {
    return {
      email: '',
      password: '',
      username: '',
      error: {},
    }
  },
  computed: {
    isSignup() {
      return this.type === 'signup'
    },
    submitButtonText() {
      return this.type === 'signup' ? 'Sign-up' : 'Sign-in'
    },
  },
  watch: {
    email(val) {
      this.error.email = this.emailValidation(val)
    },
    password(val) {
      this.error.password = this.passwordValidation(val)
    },
    username(val) {
      this.error.username = this.usernameValidation(val)
    },
  },
  methods: {
    clearInputs() {
      this.email = ''
      this.password = ''
      this.username = ''
    },
    _onSubmit() {
      const { email, password, username, error } = this

      if (!(email && password && (!this.isSignup || username))) {
        alert('There are missing input data.')
        return
      }

      if (error.email || error.password || (this.isSignup && error.username)) {
        alert('There are format erros in the information.')
        return
      }

      this.onSubmit({ email, password, username })
    },
    emailValidation(email) {
      if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
        return 'Email must have the symbol @ followed by the damain.'
      }
    },
    passwordValidation(password) {
      if (!/^\w{8,32}$/.test(password)) {
        return 'Password must be alphanumeric between 8 and 32 characteres.'
      }
    },
    usernameValidation(username) {
      if (!/^[a-zA-z]\w{0,}$/.test(username)) {
        return 'Username must be alphanumeric and first character must not be a digit.'
      }
    },
  },
}
</script>
