<template>
  <div>
    <input
      :id="label"
      v-model="inputValue"
      class="
        bg-gray-200
        appearance-none
        border-2 border-gray-200
        rounded
        w-full
        py-2
        px-4
        mb-2
        text-gray-700
        leading-tight
        focus:outline-none focus:bg-white focus:border-purple-500
      "
      v-bind="$attrs"
    />
    <span v-if="error" class="text-red-500 text-xs ml-3">
      {{ error }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'Input',
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    error: {
      type: String,
      default: '',
    },
  },
  computed: {
    inputValue: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      },
    },
  },
}
</script>
