<template>
  <div
    class="flex h-screen justify-center flex-row items-center content-center"
  >
    <img src="../../static/avataaars.png" alt="avatar" width="100" />
    <div class="flex flex-col m-2">
      <div class="user-info">{{ email }}</div>
      <div class="user-info">{{ username }}</div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
 export default {
  name: 'User',
  computed: {
    ...mapGetters(['email', 'username']),
  },
}
</script>

<style lang="postcss" scoped>
.user-info {
  @apply m-2;
}
</style>
