<template>
  <div
    class="
      container
      flex
      h-screen
      flex-col
      justify-center
      items-center
      content-center
    "
  >
    <Auth :on-submit="onLogin" type="login" />
    <div class="m-3">
      Not an user yet? <NuxtLink to="/sign-up"> Sign-up now! </NuxtLink>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'Login',
  methods: {
    onLogin(data) {
      const { email, password } = data
      this.$store
        .dispatch('login', { email, password })
        .then(() => {
          this.$router.push(`/users/${this.$store.state.id}`)
        })
        .catch((error) => {
          if (error.response && error.response.status === 400)
            alert("Email or password is invalid. Try again")
          else
            alert(`Unknown error: ${(error.response && error.response.data) || error}`)
          })
    },
    ...mapMutations,
  },

}
</script>
