<template>
  <div
    class="
      container
      flex
      h-screen
      flex-col
      justify-center
      items-center
      content-center
    "
  >
    <Auth :on-submit="onSignUp" />
    <div class="m-3">
      Already an user? <NuxtLink to="/log-in"> Sign-in now! </NuxtLink>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name: 'Signup',
  methods: {
    onSignUp(data) {
      this.$store
        .dispatch('signup', data)
        .then(() => {
          this.$router.push(`/users/${this.$store.state.id}`)
        })
        .catch((error) => {
          alert(`Error while submiting: ${error.response.data}.`)
        })
    },
    ...mapMutations,
  },
}
</script>
